<!---=========== Ruang Kerja bermula ===============--->
{{# each products }}
Product!
{{/each}}
<!---=========== Ruang Kerja tamat ===============--->

<div class="row">
    <div class="col-sm-6 col-md-4" style="width: 18rem;">
        <div class="card">
            <img src="https://img.rnudah.com/images/89/891815094771134.jpg" class="card-img-top" alt="..."
                class="img-responsive">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis veniam nemo
                    tempora
                    accusantium quaerat, corrupti autem eveniet atque recusandae earum distinctio, temporibus laborum
                    fugiat
                    laboriosam minus ipsam facere sequi.</p>
                <div class="price pull-left">RM100</div>
                <a href="#" class="btn btn-success pull-right">Booking</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4" style="width: 18rem;">
        <div class="card">
            <img src="https://img.rnudah.com/images/89/891815094771134.jpg" class="card-img-top" alt="..."
                class="img-responsive">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis veniam nemo
                    tempora
                    accusantium quaerat, corrupti autem eveniet atque recusandae earum distinctio, temporibus laborum
                    fugiat
                    laboriosam minus ipsam facere sequi.</p>
                <div class="price pull-left">RM100</div>
                <a href="#" class="btn btn-success pull-right">Booking</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4" style="width: 18rem;">
        <div class="card">
            <img src="https://img.rnudah.com/images/89/891815094771134.jpg" class="card-img-top" alt="..."
                class="img-responsive">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis veniam nemo
                    tempora
                    accusantium quaerat, corrupti autem eveniet atque recusandae earum distinctio, temporibus laborum
                    fugiat
                    laboriosam minus ipsam facere sequi.</p>
                <div class="price pull-left">RM100</div>
                <a href="#" class="btn btn-success pull-right">Booking</a>
            </div>
        </div>
    </div>


</div>
<br>

<div class="row">
    <div class="col-sm-6 col-md-4" style="width: 18rem;">
        <div class="card">
            <img src="https://img.rnudah.com/images/89/891815094771134.jpg" class="card-img-top" alt="..."
                class="img-responsive">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis veniam nemo
                    tempora
                    accusantium quaerat, corrupti autem eveniet atque recusandae earum distinctio, temporibus laborum
                    fugiat
                    laboriosam minus ipsam facere sequi.</p>
                <div class="price pull-left">RM100</div>
                <a href="#" class="btn btn-success pull-right">Booking</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4" style="width: 18rem;">
        <div class="card">
            <img src="https://img.rnudah.com/images/89/891815094771134.jpg" class="card-img-top" alt="..."
                class="img-responsive">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis veniam nemo
                    tempora
                    accusantium quaerat, corrupti autem eveniet atque recusandae earum distinctio, temporibus laborum
                    fugiat
                    laboriosam minus ipsam facere sequi.</p>
                <div class="price pull-left">RM100</div>
                <a href="#" class="btn btn-success pull-right">Booking</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4" style="width: 18rem;">
        <div class="card">
            <img src="https://img.rnudah.com/images/89/891815094771134.jpg" class="card-img-top" alt="..."
                class="img-responsive">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis veniam nemo
                    tempora
                    accusantium quaerat, corrupti autem eveniet atque recusandae earum distinctio, temporibus laborum
                    fugiat
                    laboriosam minus ipsam facere sequi.</p>
                <div class="price pull-left">RM100</div>
                <a href="#" class="btn btn-success pull-right">Booking</a>
            </div>
        </div>
    </div>


</div>